form{
display: flex;
flex-direction: column;
}

.container__top{
  display: flex;
<<<<<<< HEAD
  gap: 10px;
=======
  flex-direction: column;

  &__content {
    display: flex;
    gap: 15px;
    padding: 10px 0;
  }
}

mat-form-field {
  width: 65%;
>>>>>>> 1e5bce4 (feat: cadastro de projeto)
}
