form{
display: flex;
flex-direction: column;
}

.container__top{
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    gap: 15px;
    padding: 10px 0;
  }
}

mat-form-field {
  width: 65%;
}
