.project {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    gap: 15px;
    padding: 10px 0;
  }
}

mat-form-field {
  width: 45%;
}

mat-form-field.descricao {
  width: 100%;
  padding-right: 40px;
  height: 110px;
}

mat-form-field.descricao textarea {
  height: auto; 
  min-height: 3em; 
}