.project {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    height: 70px;

    .title {
      margin: 0;
      color: black;
      font-weight: 400;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, auto));
    gap: 60px;
    padding: 20px;
    justify-content: flex-start;

    &__card {
      position: relative;
    }

    &__menu {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
    }

    &.single {
      display: initial;
      justify-content: center;
    }

    .card {
      width: 180px;
      height: 200px;
      display: flex;
      align-items: center;
      text-align: center;
      cursor: pointer;

      .avatar {
        height: 60px;
        background: #c4ade1;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        border-radius: 6px;

        span {
          font-weight: 500;
          font-size: 20px;
        }
        
      }
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 140px;
      }

      .status-andamento {
        background-color: #ffcc80; 
        color: #e65100; 
        border-radius: 5px;
        padding: 5px 10px;
      }
      
      .status-concluido {
        background-color: #a5d6a7; 
        color: #1b5e20; 
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
  }
}

::ng-deep {
  .mat-drawer-side {
    border: none;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1440px) {
  .class {
    &__content {
      &.single {
        display: flex;
        justify-content: center;
      }
    }
  }
}
