.class {
  background: white;

  &__content {
    padding: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
    height: 70px;

    .title {
      margin: 0;
      color: black;
      font-weight: 400;
    }
  }



  .bottom__content {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px;
    padding-top: 15px;
    border-top: 1px solid gray;
    align-items: center;

    &__button {
      border: none;
      background: #7a7a7a;
      border-radius: 12px;
      width: 130px;
      height: 55px;
      font-size: 16px;
      color: white;
    }
  }
}

::ng-deep {
  .mat-drawer-side {
    border: none;
  }
}
