<section>
  <ng-container *ngIf="mode === 'LOGIN'; else cadastroTemplate">
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" required/>
      </mat-form-field>

      <div class="login__buttons">
        <button type="button" (click)="submit(mode)">Entrar</button>
      </div>
    </form>
  </ng-container>

  <ng-template #cadastroTemplate>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput type="text" formControlName="username" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="first_name" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput type="text" formControlName="last_name" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" required/>
      </mat-form-field>

      <div class="login__buttons">
        <button type="button" (click)="submit(mode)">Cadastrar</button>
      </div>
    </form>
  </ng-template>
</section>