.a1 {
  height: 60px;
  background: #c4ade1;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 6px;
}

.class {
  background: white;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, auto));
    gap: 60px;
    padding: 20px;
    justify-content: center;

    &.teste {
      display: initial;
    }
  }

  .top__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
  }
}

::ng-deep {
  .mat-drawer-side {
    border: none;
  }
}

.example-card {
  width: 180px;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

span {
  font-weight: 500;
  font-size: 20px;
}

@media (min-width: 1440px) {
  .class {
    background: white;

    &__content {
      justify-content: start;
    }
  }
}
