<section class="class">
  <div class="class__top">
    <h1 class="title">Turmas</h1>
    @if(!classIsOpen){<button mat-stroked-button (click)="openModal()">
      Cadastrar Turma</button
    >}
  </div>

  <div class="class__content" [ngClass]="classIsOpen ? 'single' : ''">
    @if(!classIsOpen){ @for (class of classes; track class ) {
      <div class="class__content__card">
        <button class="class__content__menu" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon fontIcon="more_vert" />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete(class.id)">
            <mat-icon fontIcon="delete" /> Remover
          </button>
        </mat-menu>

    <mat-card class="card" (click)="openClass(class)">
      <mat-card-content>
        <div class="avatar">
          <span> {{ generateInitials(class.nome) }}</span>
        </div>
        <h3 class="title">{{ class.nome.toUpperCase() }}</h3>
      </mat-card-content>
    </mat-card>
  </div>

    } } @if(classIsOpen){
    <app-single-class (closeClassEvent)="openClass()" (closeModalEvent)="getClass()" [class]="singleClass"/>
    }
  </div>
</section>
