.single-class {
  padding: 0 20px;

  &__top {
    display: flex;
    justify-content: space-between;

    .action-button {
      display: flex;
      gap: 10px;
    }
  }

  table {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .single-class {
    width: 1200px;
  }
}
