<section class="single-class">
  <div class="bar__top">
    <div class="bar__top__content">
      <button mat-icon-button (click)="closeClass()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>{{ class.nome }}</h2>
      <h3>{{ class.periodo }}</h3>
    </div>
    <div class="bar__top__button">
      <button mat-stroked-button (click)="openModalStudent()">
        Adicionar Aluno
      </button>
      <button mat-stroked-button (click)="openModalClass(class, 'EDIT')">
        Editar turma
      </button>
    </div>
  </div>

  <div class="single-class__top">
    <div class="action-button">
      @if(mode === 'VIEW'){
      <button mat-flat-button color="primary" (click)="changeMode('EDIT')">
        Editar Notas
      </button>
      } @else{
      <button mat-stroked-button color="primary" (click)="addNewColumn()">
        Adicionar Nota
      </button>
      <div class="bar__top__button">
        <button mat-stroked-button (click)="changeMode('VIEW')">Cancelar</button>
        <button mat-flat-button color="primary" (click)="save()">Salvar</button>
      </div>
      }
    </div>
  </div>

  <table mat-table [dataSource]="this.class.alunos" class="mat-elevation-z8">
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef width="200px">Alunos</th>
      <td mat-cell *matCellDef="let element">
        {{ element.matricula }} - {{ element.nome }}
      </td>
    </ng-container>

    <!-- Dynamic Nota Columns -->

    @for(notaCol of notaColumns; track notaCol ){
    <ng-container [matColumnDef]="notaCol">
      <th mat-header-cell *matHeaderCellDef width="50px">
        <input
        [ngClass]="mode === 'EDIT' ? 'edit' : ''"
        matInput
        type="text"
        [value]="notaCol"
        (blur)="updateColumnName($event, $index)"
        placeholder="Digite o nome"
      />
        @if(mode !== 'VIEW'){
        <button
          mat-icon-button
          class="button__delete"
          (click)="removeColumn(notaCol)"
        >
          <mat-icon class="icon__delete" fontIcon="delete"></mat-icon>
        </button>
        }
      </th>
      <td mat-cell *matCellDef="let element">
        <input
          [ngClass]="mode === 'EDIT' ? 'edit' : ''"
          matInput
          type="number"
          [value]="element.notas[$index]?.valor"
          (input)="updateNota($event, element, notaCol)"
          [disabled]="mode === 'VIEW'"
        />
      </td>
    </ng-container>
    }

    <ng-container matColumnDef="media">
      <th mat-header-cell *matHeaderCellDef width="50px">Média</th>
      <td mat-cell *matCellDef="let element">{{ media(element) }}</td>
    </ng-container>

    <!-- Ações Column -->
    <ng-container matColumnDef="editar">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="action-header"
        mat-sort-header
        width="60px"
      >
        Ações
      </th>
      <td mat-cell *matCellDef="let element" class="action-cell">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon fontIcon="more_vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon fontIcon="edit"></mat-icon> Editar
          </button>
          <button mat-menu-item (click)="deleteStudent(element.matricula)">
            <mat-icon fontIcon="delete"></mat-icon> Remover
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  ></mat-paginator>
</section>
