.bar__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  &__content{
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__button{
    display: flex;
    gap: 20px;
  }

  h2,
  h3 {
    margin: 0;
  }
}

.single-class {
  padding: 0 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .action-button {
      display: flex;
      gap: 10px;
    }
  }

  table {
    margin-bottom: 20px;
  }
}

input {
  width: 50px;
  height: 25px;
  border: none;
  background: transparent;
  text-align: center;
}

.teste {
  border: #cfcfcf 1px solid;
  border-radius: 3px;
}
@media (min-width: 1440px) {
  .single-class {
    width: 1200px;
  }
}
