.class {
  display: grid;
  grid-template-areas:
    "bar"
    "class";
  grid-template-rows: 0fr 1fr 0fr;
  background: white;
  height: 100%;

  &__content {
  }

  .bottom__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    &__button {
      border: none;
      background: #7a7a7a;
      border-radius: 12px;
      width: 130px;
      height: 55px;
      font-size: 16px;
      color: white;
    }
  }
}

::ng-deep {
  .mat-drawer-side {
    border: none;
  }
}

mat-form-field{
  width: 100%;
}

table{
  margin-bottom: 20px;
}
