<section class="modal">
  <h2 mat-dialog-title>Cadastrar Alunos</h2>
  @if(data.mode == 'ADD'){
  <mat-dialog-content class="mat-typography">
    <input (change)="onFileChange($event)" type="file" id="fileUpload" />
  </mat-dialog-content>
  }@else{
  <mat-dialog-content class="mat-typography">
    <app-form-student (formStudent)="save($event)" [data]="student"></app-form-student>
  </mat-dialog-content>
  }

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="closeModal()">Fechar</button>
    <button mat-raised-button (click)="upload()">Enviar</button>
    <button mat-raised-button (click)="this.formStudentComponent.save()">Salvar</button>
  </mat-dialog-actions>
</section>
