<section class="login">
  <div class="login__content">
    <div class="login__content__logo">
      <img src="../../../assets/M.png" class="logo1" id="img" />
      <img src="../../../assets/T.png" class="logo2" id="img" />
    </div>

    <h2 class="title">Login</h2>

    <div class="login__content__form">
      <app-form-login (loginEvent)="login($event)"></app-form-login>

      <div class="login__content__footer">
        <p>Ainda não tem conta?</p>
        <a [routerLink]="rota">Cadastre-se</a>
      </div>

    </div>
  </div>
</section>
