<section class="login">
  <div class="login__content">
    <div class="login__logo">
      <img src="../../../assets/M.png" class="logo1" id="img" />
      <img src="../../../assets/T.png" class="logo2" id="img" />
    </div>

    <div class="login__form">
      <form>
        <label>Usuário</label>
        <input type="email" [(ngModel)]="form.email" name="campo1"/>

        <label>Senha</label>
        <input type="text" [(ngModel)]="form.senha" name="campo2"/>
      </form>
    </div>
    <div class="login__buttons">
      <button (click)="login()">Entrar</button>
      <a [routerLink]="rota">Criar Conta</a>
    </div>
  </div>
</section>
