<form class="class" [formGroup]="form">
  <div class="class__content">
    <mat-form-field>
      <mat-label>Aluno</mat-label>
      <input type="text" matInput [formControl]="studentControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        @for (student of filteredStudents | async; track student.matricula) {
          <mat-option [value]="student.nome">
            {{ student.matricula + " - " + student.nome }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>